body {
    padding: 20px;
    background-color: beige;
    margin: 10px;
    width: auto;
}

header {
  font-size: 140%;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    color: #d6336c;
    font-family: 'Courier New', Courier, monospace;
    width: auto;
}

.navbar { 
      padding: 10px;
      background-color: gray;
      color: purple;
      border: solid #0000ff 2px;
      border-radius: 10px;
      font-size: 15px;
      width: 100%;
    }

.navbar a {
    float: left;
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar {
    float: left;
    margin-right: 50%;
    margin-top: -40px;
    margin-left: -20px;
    margin-bottom: 30px;
}

m {
    font-family: monospace;
}

@media (max-width: 768px) {
  /* Styles for tablets and smaller screens */
  .main-content {
    padding: 15px;
  }
  .sidebar {
    display: none; /* Hide the sidebar on smaller screens */
  }
  nav ul {
    flex-direction: column; /* Stack navigation items vertically */
  }
}

@media (max-width: 480px) {
  /* Styles for mobile phones */
  h1 {
    font-size: 2em;
  }
  .code-block {
    font-size: 0.9em;
    overflow-x: auto; /* Enable horizontal scrolling for long code */
  }
}

header {
  font-weight: 100px;
}